name: "Manual Release"

on:
  workflow_dispatch:
    inputs:
      title:
        type: string
        required: true
        description: Title of release

jobs:
  build:
    name: "Build App"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.x"

      - name: Restore NuGet packages
        shell: bash
        run: |
          dotnet restore ./api

      - name: Build app
        shell: bash
        run: |
          dotnet build ./api -c Release

      - name: Create artifact
        shell: bash
        run: |
          dotnet publish ./api -c Release -o ./api/bin/published
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: apiapp
          path: api/bin/published

  release:
    name: "Release app"
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: apiapp
          path: artifacts/api

      - name: Zip artifact
        shell: bash
        run: |
          pushd artifacts/api
          zip -qq -r apiapp.zip .
          popd
          mv artifacts/api/apiapp.zip artifacts/apiapp.zip
      - name: Release artifact to GitHub
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          title: ${{ github.event.inputs.title }}
          files: |
            artifacts/apiapp.zip
